<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<table class="table table-bordered mt-4"  >
    <tr>
        <th>Name</th>
        <td>{{f.name}} </td>
    </tr>
    <tr>
        <th>Image</th>
        <td><img src="{{f.image.url}}" height="200px"></td>
    </tr>
 <tr>
        <th>Description</th>
        <td>{{f.desc}} </td>
    </tr>
    <tr>
        <th>Release year</th>
        <td>{{f.year}}</td>
    </tr>

</table>
<center>
<a href="{% url 'film:update' f.name %}" class="btn btn-danger">Update</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'film:delete' f.name %}" class="btn btn-danger">Delete</a>
    </center>
{% endblock %}
